.botones_menu {
    justify-content: center;
    gap: 20px;
    margin-top: 130px;
}

.boton {
    margin-bottom: 30px;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: darkblue;
}

input {
    font-size: 70px;
    border-radius: 10px;
    background-color: lightseagreen;
}

body {
    background-color: lightgreen;
    font-family: Arial, sans-serif;
}